<style media="screen">

*{
  font-family: 'Source Sans Pro', sans-serif;
}

body { padding: 0; background: pink;}

flex-page {
  display: flex;
  min-height: 100vh;
  flex-flow: column wrap;
  font-weight: bold;
  text-align: center;
  /* min-height: 100vh; Uncomment for full height */
}

flex-page > * {
  padding: 10px;
}

header {
  background: red;
}

main {
  display: flex;
  flex: 1 100%;
  text-align: left;
  flex-flow: column;
  background: blue;
  justify-content: space-between;
}

article{
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  flex-grow:  4;
}

aside {
  background: orange;
  flex-grow: 1;
  height: 100px;
  width: 100%;
}
 aside-contents{
   margin: auto;
 }

 footer {
   background: green;
 }

@media all and (min-width: 800px) {
  aside { flex: 1 auto; }
  main { flex-direction: row; }
  aside{ width: 20%; }
}

@media all and (min-width: 960px) {
  header { order: 1; }
  main    { order: 2; }
  aside { order: 3; }
  footer  { order: 4; }
  column-right{ width:48% }
  column-left{ width:48% }
}

/* Streamfield contents */
  .block-heading{
    color: red;
  }

  .block-paragraph{
    color: green;
  }

</style>
