{% block extra_css %}


<style media="screen">

*{
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  display:flex;
  justify-content: center;
  padding: 0;
  background-color: lightgrey;
  fill-opacity: 0.5;
  stroke-opacity: 0.5;
  stroke: yellow;
  {% include "patterns/_topography.html" %}
}
#background{
  fill: green;
  color: green;
}

flex-page {
  display: flex;
  min-height: 100vh;
  flex-flow: column wrap;
  font-weight: bold;
  text-align: center;
  /* min-height: 100vh; Uncomment for full height */
}

flex-page > * {
  padding: 10px;
}

header, footer {
  display: flex;
  justify-content: center;
  align-items: center;

}

header {
  background: darkblue;
  background-color: white;
  {% include "patterns/_graph_paper.html" %}
  margin-top: 10px;
  height: 150px;
}

.heading{
  font-family: 'Baloo', cursive;
  font-weight: 800;
  font-style:oblique;
  font-size: 2.5em;
}

.navbar{
    margin: 10px 0px 10px 0px;
    padding: 10px 20px;
}

main {
  display: flex;
  text-align: left;
  flex-flow: column;
  background: lightblue;
  justify-content: space-between;
}

article, aside{
  margin: 0px 10px 0px 10px;
}

article{
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  flex-basis: 4;
}

aside {
  {% include "patterns/_diagonal_lines.html" %}
  color: wheat;
  height: 100%;
  padding: 10px;
  border-radius: 15px;
  flex-basis: 1;
}

 footer {
   fill: darkblue;
   background-color: white;
   margin-top: 10px;
   {% include "patterns/_graph_paper.html" %}
   height: 80px;
}

@media all and (min-width: 800px) {
  main { flex-direction: row; }
}

@media all and (min-width: 960px) {
  body { padding: 0px; margin: 0px; }
  flex-page { width: 1176px; padding: 0px; margin: 0px; }
  header { order: 1; }
  nav { order: 2; }
  main    { order: 3; }
  aside { order: 4;}
  footer  { order: 5; }
}

@media (min-width: 1200px) {
    .container{ max-width: 1170px; }

}

/* SVG colors */
#header-logo, #nav-logo, #cms-icon{
  color: orange;
}

/* Streamfield contents */
  .block-heading{
    color: red;
  }

  .block-paragraph{
    color: green;
  }

</style>

{% endblock %}
