{% block extra_css %}

<style media="screen">


html{
  height: 100%;
}

body{
  background: url("/static/images/photo.jpg") 0 no-repeat fixed;
  /* background-image: url(images/photo.jpg); */
  /* background-image: url(static/images/photo.jpg); */
  background-size: cover;
  background-position: center;
  font-family: 'Lato';
  color: white;
}

flex-page {
  display: flex;
  min-height: 100vh;
  flex-flow: column wrap;
  font-weight: bold;
  text-align: center;
  /* min-height: 100vh; Uncomment for full height */
}

.img-thumbnail{
  height: 500px;
}

#content{
  text-align: center;
  padding-top: 25%;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
}
fa, fab {
  color: red;
}

.navbar{
  padding: 0px;
}

.active {
   background:#4FA9DC; color:#000;3
}

h1{
  font-weight: 700;
  font-size: 5em;
}

hr{
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  max-width: 90%;
}


/* body {
  display:flex;
  justify-content: center;
  padding: 0;
  background-color: lightgrey;
  fill-opacity: 0.5;
  stroke-opacity: 0.5;
  stroke: yellow;
  {% include "patterns/_diagonal_lines.html" %}
} */



/* SVG colors */
#header-logo, #nav-logo, #cms-icon{
  color: orange;
}

/* Streamfield contents */


  .btn{
    top: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
    position: relative;
    background-color: #fcad26;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 300px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 15px 10px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0px 6px #efa424;
  }

  .btn:hover {
    box-shadow: 0 4px #efa424;
    top: 6px;
  }

  .btn:active {
    box-shadow: none;
    top: 8px;
  }



</style>

{% endblock %}
